DB_URI=mongodb+srv://lamtailoi11141_db_user:jODOyBk46IF7jx8T@hkt-mongo-server.9lxkipt.mongodb.net/hkt-db?appName=hkt-server
PORT=8080

# Password
PASSWORD_SALT_ROUNDS=12

# Cookie (values in milliseconds)
REFRESH_TOKEN_MAX_AGE=604800000
ACCESS_TOKEN_MAX_AGE=900000

# Frontend URL (for OAuth redirect)
CLIENT_URL=http://localhost:3000

# JWT
JWT_ACCESS_SECRET=32juleIWz6eawY3AYjauXD3Zgq59vspm
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_SECRET=TGx7jApDz0cvRBl6sSEQ3z7j0c6AJTvX
JWT_REFRESH_EXPIRATION=7d
# OAuth Connect: Google
GOOGLE_CLIENT_ID=435032912250-fqvqt1b0335qkgjdnigefobpj3gqin34.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:8080/api/auth/google/callback
# OAuth Connect: GitHub
GITHUB_CLIENT_ID=Ov23liwQmRRHD8MCYojw
# GITHUB_CLIENT_SECRET=bb549f78831331d249253eea34783485cac0eef0
GITHUB_CLIENT_SECRET=fbb30d596e1ef92d1153c02440f2d02c4b606127
GITHUB_CALLBACK_URL=http://localhost:8080/api/auth/github/callback

# CSRF
CSRF_SECRET=JVz6APWW41QBdZ1H3ptlfsVtjfnmLLh1

# OPENAI_API
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o-mini
