DB_URI=
PORT=

# Password
PASSWORD_SALT_ROUNDS=

# JWT
JWT_SECRET=
JWT_JWT_EXPIRATION=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION=
# OAuth Connect: Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
# OAuth Connect: GitHub
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=